<template>
    <div>
        <h2>Componente teste</h2>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
